<div class="content">
    <mat-card-title>Alunos</mat-card-title>
    <mat-card-subtitle><br>Cadastrar Aluno</mat-card-subtitle>
    <mat-divider></mat-divider>
    <br>
    <div class="input1">
        <mat-form-field appearance="outline"required>
            <mat-label>Dados do Aluno</mat-label>
            <input matInput placeholder="Digite o nome do aluno" id="nome" required [(ngModel)]="aluno.nome"
                name="nome">
            <mat-icon matSuffix>edit</mat-icon>
        </mat-form-field>

        <div class="input2">
        <mat-form-field appearance="outline" required>
            <mat-label>Data de Nascimento</mat-label>
          <!-- #docregion toggle -->
            <input matInput [matDatepicker]="picker"  required [(ngModel)]="aluno.dt_nasc" name="dt_nasc">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          <!-- #enddocregion toggle -->
          </mat-form-field>

          <div class="input3">
          <mat-button-toggle-group name="Sexo" aria-label="Sexo" required [(ngModel)]="aluno.sexo" name="sexo">
            <mat-button-toggle value="Masculino">Masculino</mat-button-toggle>
            <mat-button-toggle value="Feminino">Feminino</mat-button-toggle>
          </mat-button-toggle-group>
        
        
        <!-- <mat-form-field appearance="outline" required>
            <mat-label>Sexo</mat-label>
            <input matInput placeholder="Digite sexo do aluno" id="sexo" required [(ngModel)]="aluno.sexo" name="sexo">
            <mat-icon matSuffix>edit</mat-icon>
        </mat-form-field> -->

       <!-- <mat-form-field appearance="outline" required>
            <mat-label>Data de Nascimento</mat-label>
            <input matInput placeholder="Digite a data de nascimento aluno" id="dt_nasc" required
                [(ngModel)]="aluno.dt_nasc" name="dt_nasc">
            <mat-icon matSuffix>edit</mat-icon>
        </mat-form-field> -->

    </div>
    <div class="button">
        <span class="btn" (click)="salvar()">
            <img class="img-btn" src="assets/img/check_box.png">Salvar
        </span>
        <span class="btn" (click)="cancelar()">
            <img class="img-btn" src="assets/img/cancel.png">Cancelar
        </span>
    </div>
</div>